body {
  font-family: 'Montserrat', sans-serif;
}
/* HEADER */
.header-background {
  width: 100%;
  background: #2c3e50;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar {
  border-radius: 0;
  border: none;
  background: #2c3e50;
  height: 60px;
  line-height: 60px;
  padding: 15px 0;
}

.navbar .navbar-brand {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.navbar .navbar-brand:hover {
  color: #ffffff;
}

.navbar .navbar-nav > li > a {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.navbar .navbar-nav > li > a:hover {
  color: #1abc9c;
}
/* DEBUG */

.red {
  height: 100px;
  background: red;
}

.green {
  height: 100px;
  background: #1abc9c;
}

.orange {
  height: 100px;
  background: orange;
}

.grey {
  height: 100px;
  background: lightgrey;
}

.blue {
  height: 100px;
  background: blue;
}

/* JUMBOTRON */
.lightblue {
  height: 200px;
  background: lightblue;
}

.main-background {
  background: yellow;
  margin-top: 100px;
}
/* PORTFOLIO */
.baita {
  height: 100px;
  background: orange;
}

.torta {
  height: 100px;
  background: purple;
}

.tenda {
  height: 100px;
  background: green;
}

.pad {
  height: 100px;
  background: pink;
}

.cassa {
  height: 100px;
  background: blue;
}

.sub {
  height: 100px;
  background: gray;
}
/* ABOUT */
.about {
  background: blue;
}

/* CONTACTME */

/* FOOTER */
.footer {
  background: purple;
}

.location {
  height: 100px;
  background: orange;
}

.web {
  height: 100px;
  background: red;
}

.freelancer {
  height: 100px;
  background: blue;
}

.copyright {
  height: 50px;
  background: grey;
}
