/* DEBUG */
.red {
  height: 100px;
  background: red;
}

.green {
  height: 100px;
  background: green;
}

.orange {
  height: 100px;
  background: orange;
}

.grey {
  height: 100px;
  background: lightgrey;
}

.blue {
  height: 100px;
  background: blue;
}
/* HEADER */
.header-background {
  background: lightgrey;
  /* position: fixed;                         <!----header fixed----->
  top: 0;
  z-index: 10; */
}
/* JUMBOTRON */
.lightblue {
  height: 200px;
  background: lightblue;
}

.main-background {
  background: yellow;
}
/* PORTFOLIO */
.baita {
  height: 100px;
  background: orange;
}

.torta {
  height: 100px;
  background: purple;
}

.tenda {
  height: 100px;
  background: green;
}

.pad {
  height: 100px;
  background: pink;
}

.cassa {
  height: 100px;
  background: blue;
}

.sub {
  height: 100px;
  background: gray;
}
/* ABOUT */
.about {
  background: blue;
}


/* CONTACTME */

/* FOOTER */
.footer {
  background: purple;
}

.location {
  height: 100px;
  background: orange;
}

.web {
  height: 100px;
  background: red;
}

.freelancer {
  height: 100px;
  background: blue;
}

.copyright {
  height: 50px;
  background: grey;
}
