body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

/* UTILITY */
.divider-line {
  border: 2px solid #ffffff;
  border-radius: 4px;
  height: 4px;
  width: 100px;
  margin: 0 auto 20px;
  display: inline-block;
  vertical-align: middle;
}

/* HEADER */
.header-background {
  width: 100%;
  background: #2c3e50;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar {
  border-radius: 0;
  border: none;
  background: #2c3e50;
  height: 60px;
  line-height: 60px;
  padding: 15px 0;
}

.navbar .navbar-brand {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.navbar .navbar-brand:hover {
  color: #ffffff;
}

.navbar .navbar-nav > li > a {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  transition: color 0.4s;
}

.navbar .navbar-nav > li > a:hover {
  color: #1abc9c;
}

.navbar .navbar-toggle {
  background: #1abc9c;
  border-color: #1abc9c;
}

.navbar .icon-bar {
  color: #ffffff;
}

/* JUMBOTRON */
.avatar {
  height: 250px;
  margin-bottom: 30px;
}

.main-background {
  color: #ffffff;
  background-color: #1abc9c;
  margin-top: 80px;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 30px;
}

.main-background i {
  font-size: 32px;
  margin:0 50px;
}

.main-background h3 {
  margin: 50px 0;
}
/* PORTFOLIO */
.portfolio {
  margin-bottom: 50px;
}

.portfolio h2 {
  font-size: 50px;
  font-weight: 700;
  color: #2c3e50;
  margin: 50px 0 30px;
}

.portfolio .divider-line {
  border-color: #2c3e50;
}

.portfolio i {
  font-size: 32px;
  margin: 0 50px 30px;
}

.portfolio-hover {
  position: relative;
}

.portfolio-hover .portfolio-layover i {
  color: #ffffff;
  font-size: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.portfolio-layover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: rgba(103, 228, 204, 0.7);
  opacity: 0;
  transition: opacity 0.4s;
}

.portfolio-layover:hover {
  opacity: 1;
}

.portfolio img {
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
}
/* ABOUT */
.about {
  color: #ffffff;
  background: #1abc9c;
}

.about h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 50px 0 30px;
}

.about i {
  font-size: 32px;
  margin: 0 50px 30px;
}

.about p {
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 30px;
}

.about .btn {
  background: #1abc9c;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 20px 30px;
  margin-bottom: 50px;
}

.about .btn i {
  margin: 0 10px;
  font-size: 14px;
}

.about .btn:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

/* CONTACTME */
.contactme {
  margin-bottom: 50px;
}
.contactme h2 {
  font-size: 50px;
  font-weight: 700;
  color: #2c3e50;
  margin: 50px 0 30px;
}

.contactme .divider-line {
  border-color: #2c3e50;
}

.contactme i {
  font-size: 32px;
  margin: 0 50px 30px;
}

.contactme .form {
  margin: 30px 0;
}

.contactme .form-group input,
.contactme .form textarea {
  height: 100px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #333;
  box-shadow: none;
  margin-bottom: 30px;
  padding: 0;
}

.contactme .form ::placeholder {
  font-size: 22px;
  font-weight: 400;
  color: #495057;
}

.contactme .form textarea {
  height: 200px;
}

.contactme .form-group input:focus,
.contactme .form textarea:focus {
  border-bottom: 2px solid #333;
}

.contactme .form .btn {
  background: #1abc9c;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 20px 30px;
  margin-bottom: 50px;
}

.contactme .form .btn:hover {
  background: rgba(20, 152, 126, 0.5);
}

/* FOOTER */
.footer {
  color: #ffffff;
  background: #2c3e50;
}

.footer h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 50px 0;
}

.footer .list-inline a {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding-top: 10px;
}

.footer i {
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 50px;
}

.footer .list-inline a:hover,
.footer .list-inline a:hover i {
  color: #2c3e50;
  background: #ffffff;
}

.footer p {
  font-size: 18px;
  font-weight: 700;
}

.footer p > a {
  color: #1abc9c;
}

.footer p > a:hover {
  color: rgba(20, 152, 126, 0.5);
}
/* COPYRIGHT */
.copyright {
  font-size: 12px;
  color: #ffffff;
  background: #1a252f;
  line-height: 80px;
  margin-top: 50px;
}
/* FRECCIA RETURN */
.return {
  line-height: 50px;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  display: none;
}

.return i {
  font-size: 20px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .return {
    display: block;
  }
  /* TIPOGRAPHY */
  .main-background h1 {
    font-size: 42px;
  }
  .main-background img {
    height: 150px;
  }
  .portfolio h2 {
    font-size: 32px;
  }
  .about h2 {
    font-size: 32px;
  }
  .contactme h2 {
    font-size: 32px;
  }

}
